/**
    * @name AMOLED-Cord
    * @version 2.0
    * @description A theme that's nice on your eyes.. lights out baby!
    * @author LuckFire#4800
    *
    * @website https://github.com/LuckFire
    * @source https://github.com/LuckFire/amoled-cord/tree/main/src
**/

@import url('https://luckfire.github.io/amoled-cord/src/support/betterdiscord/compiled.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://nyri4.github.io/Discolored/main.css');

--window-padding: 0px;
--window-roundness: 0px;
--update-notice-1: none;
--rs-small-spacing: 2px;
--rs-medium-spacing: 2px;
--rs-large-spacing: 2px;
--rs-small-width: 2px;
--rs-medium-width: 2px;
--rs-large-width: 2px;
--rs-avatar-shape: 50%;
--rs-online-color: #43b581;
--rs-idle-color: #faa61a;
--rs-dnd-color: #f04747;
--rs-offline-color: #636b75;
--rs-streaming-color: #643da7;
--rs-phone-visible: none;
}
