@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/XSJXFpc.jpg');
  --background-image-blur: 0px;
  --background-image-size: 130%;
  --background-image-position: center;
  --popout-image: url('https://i.imgur.com/79Pk5oZ.jpg');
  --popout-image-blur: 0px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: url('https://i.imgur.com/qS2sLBU.jpg');
  --overlay-image-blur: 0px;
  --overlay-image-size: 150%;
  --overlay-image-position: center;
  --home-button-image: url('https://i.imgur.com/5DPBG52.jpg');
  --home-button-size: 150%;
  --home-button-position: center;
  --serverlist-brightness: 0.5;
  --left-brightness: 0.5;
  --middle-brightness: 0.5;
  --right-brightness: 0;
  --overlay-brightness: 0.5;
  --gradient-primary: 0,0,0;
  --gradient-secondary: 0,0,0;
  --link-colour: #00BCD4;
  --scrollbar-colour: rgb(255,255,255,0.05);
  --gradient-direction: 0deg;
  --tint-colour: 255,255,255;
  --tint-brightness: 0;
  --font: gg sans;
  --window-padding: 0px;
  --window-roundness: 0px;
  --update-notice-1: none;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/XSJXFpc.jpg');
  --background-image-blur: 0px;
  --background-image-size: 130%;
  --background-image-position: center;
  --popout-image: url('https://i.imgur.com/79Pk5oZ.jpg');
  --popout-image-blur: 0px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: url('https://i.imgur.com/qS2sLBU.jpg');
  --overlay-image-blur: 0px;
  --overlay-image-size: 150%;
  --overlay-image-position: center;
  --home-button-image: url('https://i.imgur.com/5DPBG52.jpg');
  --home-button-size: 150%;
  --home-button-position: center;
  --serverlist-brightness: 0.5;
  --left-brightness: 0.5;
  --middle-brightness: 0.5;
  --right-brightness: 0;
  --overlay-brightness: 0.5;
  --gradient-primary: 0,0,0;
  --gradient-secondary: 0,0,0;
  --link-colour: #00BCD4;
  --scrollbar-colour: rgb(255,255,255,0.05);
  --gradient-direction: 0deg;
  --tint-colour: 255,255,255;
  --tint-brightness: 0;
  --font: gg sans;
  --window-padding: 0px;
  --window-roundness: 0px;
  --update-notice-1: none;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/XSJXFpc.jpg');
  --background-image-blur: 0px;
  --background-image-size: 130%;
  --background-image-position: center;
  --popout-image: url('https://i.imgur.com/79Pk5oZ.jpg');
  --popout-image-blur: 0px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: url('https://i.imgur.com/qS2sLBU.jpg');
  --overlay-image-blur: 0px;
  --overlay-image-size: 150%;
  --overlay-image-position: center;
  --home-button-image: url('https://i.imgur.com/5DPBG52.jpg');
  --home-button-size: 150%;
  --home-button-position: center;
  --serverlist-brightness: 0.5;
  --left-brightness: 0.5;
  --middle-brightness: 0.5;
  --right-brightness: 0;
  --overlay-brightness: 0.5;
  --gradient-primary: 0,0,0;
  --gradient-secondary: 0,0,0;
  --link-colour: #00BCD4;
  --scrollbar-colour: rgb(255,255,255,0.05);
  --gradient-direction: 0deg;
  --tint-colour: 255,255,255;
  --tint-brightness: 0;
  --font: gg sans;
  --window-padding: 0px;
  --window-roundness: 0px;
  --update-notice-1: none;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */
